<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="act-cli" />
    <package id="git" />
    <package id="GoogleChrome" />
    <package id="microsoft-windows-terminal" />
    <package id="nvm" />
    <package id="notepadplusplus" />
    <package id="poshgit" />
    <package id="postman" />
    <package id="sql-server-management-studio" />
    <package id="visualstudio2022enterprise" />
    <package id="visualstudio2022-workload-manageddesktop" />
    <package id="visualstudio2022-workload-managedgame" />
    <package id="visualstudio2022-workload-netweb" />
    <package id="visualstudio2022-workload-node" />
    <package id="visualstudio2022-workload-universal" />
    <package id="vscode" />
    <package id="winmerge" />
</packages>